@use '../global' as *;

%align-jusctify-center{
display: flex;
justify-content: center;
align-items: center;
}
%align-center{
    display: flex;
    align-items: center;
}
%jusctify-center{
    display: flex;
    justify-content: center;
}

.CoreValue{
    width: 100%;
    height: 100vh;
    @extend%align-center;
@include phone{
    flex-direction: column;
    height: auto;
    justify-content: center;
    gap: 1rem;
}
&_left{
    width: 50%;
@include phone{
        width: 90%;
    }
&_img{
    width: 80%;
    height: 70vh;
@include phone{
        width: 90%;
    }
}
}
&_right{
    width: 50%;
@include phone{
        width: 90%;
        text-align: center;
        margin-top: 2rem;
    }
span{
    color: $oc;
    font-family: $tfont;
    font-size: $h1;
    font-weight: 600;
    margin-top: 2rem;
}
h3{
font-size: 6rem;
    font-weight: 600;
    font-family: $hfont;
    margin: $base 0rem;
}
&_list{
&_sp{
    font-weight: 600;
    font-size: $tall;
    color: white;
    background-color: $ocd;
    border-radius: 50%;
    display: inline-block;
&:hover{
    background-color: rgb(33, 223, 223);
}
}
&_h4{
    font-weight: 600;
    font-size: 4rem;
}
&_p{
    font-size: $base;
    color:#a5a4a4;
}
}
}
}