@use '../global' as *;

%align-jusctify-center{
display: flex;
justify-content: center;
align-items: center;
}
%align-center{
    display: flex;
    align-items: center;
}
%jusctify-center{
    display: flex;
    justify-content: center;
}

.Testimonal{
    width: 100%;
    height: 140vh;
    padding: 6rem 3rem;
@include phone{
    height: auto;
}
&_left{
    text-align: center;
&_sp{
color: $oc;
font-family: $tfont;
font-size: $span;
font-weight: 600;
margin-top: 1rem;
}
&_h3{
    font-size: $h3;
    font-weight: 600;
    font-family: $hfont;
    margin: 1rem 0rem;
}
}
&_right{
    width: 90%;
    margin: 4rem auto;
    @extend %align-jusctify-center;
    text-align: center;
    gap: 4rem;
@include phone{
    height: auto;
    display: flex;
    justify-content: start;
    overflow: hidden;
}
&_card{
    width: 100%;
    height: 90vh;
    text-align: center;
@include phone{
    width: 100vw;
    height: auto;
    padding: 0rem 8rem;
}
&_info{
    height: 70vh;
    padding: 30px;
    margin-bottom: 1rem;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
@include phone{
        width: 100%;
        height: 84vh;
}
&:hover &_icon{
    background-color: $ocd;
    color: $wc;
}
&_icon{
    width: 5vw;
    height: 8vh;
    font-size: 3rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: $ocd;
    margin-top: 1rem;
    padding-top: 0.5rem;
@include phone{
    width: 12vw;
    height: 10vh;
}
}
&_p{
    font-size: $p;
    font-weight: 400;
    font-style: italic;
    color: #6b6b84;
    margin-bottom: 0px;
    margin-top: 3rem;
    border-radius: 100%;
}
&_box{
    margin-top: 3rem;
&_h2{
    font-size: $h2;
}
&_sp{
    font-size: $p;
    color: $ocd;
}
}
}
&_bimg{
    height: 100%;
    width: 100%;
@include phone{
    height: auto;
}
}

}
}
}