@use '../global' as *;

%align-jusctify-center{
display: flex;
justify-content: center;
align-items: center;
}
%align-center{
    display: flex;
    align-items: center;
}
%jusctify-center{
    display: flex;
    justify-content: center;
}

.footer{
    width: 100%;
    height: 80vh;
    background-image: url('../images/footer-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    padding: 10rem 0rem;
@include phone{
    height: auto;
}
&::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000000;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.9;
}
&_container{
width: 90%;
height: 70vh;
display: flex;
flex-wrap: wrap;
margin: 0px auto;
@include phone{
    flex-direction: column;
}
&_box1{
    width: 25%;
&_logo{
&_h2{
    color: $wc;
    font-size:5rem;
    font-weight: 600;
}
}
&_p{
    color: $wc;
    font-size: 1.9rem;
}
&_ul{
    display: flex;
    gap: 2rem;
&_li{
    width: 3vw;
    height: 5vh;
    border-radius: 50%;
    background-color: $ocd;
    text-align: center;
    transition: all 0.5s ease-in-out;
&:hover{
    background-color: $oc;
}
&_icon{
    color: $wc;
    font-size: 2rem;
}
}
}
}
&_box2{
    width: 25%;
&_h3{
    font-size: 4rem;
    font-weight: 600;
    color: $wc;
&::before{
    content: '';
    background-color: $oc;
    height: 0.3rem;
    width: 10rem;
    position: absolute;
    top: 15rem;
}
}
&_ul{
    list-style-type: none;
&_li{
    font-size: 1.9rem;
    color: $wc;
    margin-bottom: 1.3rem;
    padding-left: 4.5rem;
    position: relative;
    font-family: "Roboto", sans-serif;
.icon{
    color: $ocd;
    font-size: 2.8rem;
    position: absolute;
    left: 0;
    top:1rem;
}
&_sp{
    display: block;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
    color: $wc;
}
&_a{
display: inline-block;
font-weight: 400;
position: relative;
color: $wc;
font-size: 1.9rem;
text-decoration: none;
&:hover{
color: $ocd;
}
}
}
}
}
&_box3{
    width: 25%;
&_h3{
font-size: 4rem;
font-weight: 600;
color: $wc;
&::before{
    content: '';
    background-color: $oc;
    height: 0.3rem;
    width: 10rem;
    position: absolute;
    top: 15rem;
}
}
&_ul{
    position: relative;
&_li{
text-align: start;
font-size: 2rem;
font-weight: 600;
line-height: 2.5;
list-style: none;
&_a{
color: $wc;
text-decoration: none;
transition: all 0.3s ease-in;
&:hover, ::before{
content: '';
color: $ocd;
background-color: $oc;
height: 0.2rem;
width: 16rem;
position: absolute;
left: 0;
bottom: 0;
}
}
}
}
}
&_box4{
    width: 25%;
&_h3{
font-size: 4rem;
font-weight: 600;
color: $wc;
&::before{
    content: '';
    background-color: $oc;
    height: 0.3rem;
    width: 10rem;
    position: absolute;
    top: 15rem;
}
}
&_ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
&_li{
    width: 70px;
    height: 70px;
    list-style: none;
&_a{
    list-style: none;
&_img{
    width: 70px;
    height: 70px;
}
}
}
}
}
}
}
.footer_cp{
    height: 10vh;
    background-color: black;
    color: $wc;
    text-align: center;
    padding: 1rem 0px;
&_p{
    font-size: $h1;
&_sp{
    color: $ocd;
    font-weight: 600;
&:hover{
    color: $wc;
}
}
}
}