@use '../global' as *;

%align-jusctify-center{
display: flex;
justify-content: center;
align-items: center;
}
%align-center{
    display: flex;
    align-items: center;
}
%jusctify-center{
    display: flex;
    justify-content: center;
}

.Blog{
    width: 100%;
    height: 150vh;
    padding: 6rem 3rem;
    text-align: center;
@include phone{
    height: auto;
}
&_p{
color: $oc;
    font-family: $tfont;
    font-size: $span;
    font-weight: 600;
    margin-top: $base;
}
&_h3{
    font-size: $h3;
    font-weight: 600;
    font-family: $hfont;
    margin: $base 0rem;
}
&_container{
    width: 100%;
    height:90vh; 
    @extend %align-jusctify-center;
    gap: 2rem;
    margin-top: 6rem;
    padding: $base 0px;
@include phone{ 
    flex-direction: column;
    height: auto;
}
&_card{
    width: 29vw;
    height: auto;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
&:hover &_infobox_h3{
    color: $ocd;
}
&:hover &_imgbox_img{
    transform: rotate(2deg) scale(1.2);
    transition: all 0.3s linear;

}
@include phone{
    width: 90%;
    height: auto;
}
&_imgbox{
width: 100%;
height: 50vh;
overflow: hidden;
&_img{
        width: 100%;
        height: 100%;
}
}
&_infobox{
    width: 100%;
    height: 59vh;
    padding: 2.5rem;
    background-color: #fdeee9;
    border-radius: 0 0 10px 10px;
@include phone{
    height: auto;
}
&_ul{
    display: flex;
    gap: $tall;
    padding: 2rem 0px;
&_li{
    list-style: none;
    display: inline-block;
    font-size: $li;
    font-weight: 600;
&_sp{
    color: $ocd;
    }
    }
}
&_h3{
    font-size: $h2;
    font-weight:700;
    color: $bc;
    margin: 2rem 0rem;
    text-align: start;
}
&_p{
    color: #6c6c6c;
    font-size: $p;
    font-family:"Roboto", sans-serif;
    font-weight:400;
    line-height: 1.8;
    margin: 1rem 0rem;
    text-align:justify;
}
&_btn{
    width: 10vw;
    height:7vh;
    background-color: $ocd;
    color: white;
    border: none;
    font-size: $p;
    font-weight: 600;
    margin: 1rem 0rem;
    border-radius: 10px;
&:hover{
    background-color: $oc;
}
@include phone{
    width: 26vw;
}
}
}
}
}
}
