@use '../global' as *;

%align-jusctify-center{
display: flex;
justify-content: center;
align-items: center;
}
%align-center{
    display: flex;
    align-items: center;
}
%jusctify-center{
    display: flex;
    justify-content: center;
}

.CoreValue{
    width: 100%;
    height: 130vh;
    @extend%align-jusctify-center;
    gap: 4rem;
    
@include phone{
    flex-direction: column;
    height: auto;
    justify-content: center;
    gap: 1rem;
}
&_left{
    width: 45%;
@include phone{
        width: 90%;
    }
&_img{
    width: 100%;
    height: 85vh;
@include phone{
        width: 100%;
    }
}
}
&_right{
    width: 45%;
@include phone{
        width: 90%;
        text-align: center;
        margin-top: 2rem;
    }
&_spn{
    color: $oc;
    font-family: $tfont;
    font-size: $span;
    font-weight: 600;
    margin-top: 2rem;
@include phone{
    font-size: 4rem;
}
}
&_h3{
font-size: $h3;
font-weight: 600;
font-family: $hfont;
margin: $base 0rem;
}
&_list{
    position: relative;
    margin-top: 8rem;
&:hover .sp1{
    background-color: $ocd;
    transition: all 0.5s ease;
}
&:hover .sp1::before{
    border: 1px solid $ocd;
    transition: all 0.5s ease;
}
&:hover .sp2{
    background-color: $ocd;
    transition: all 0.5s ease-in;
}
&:hover .sp2::before{
    border: 1px solid $ocd;
    transition: all 0.5s ease-in;
}
&:hover .sp3{
    background-color: $ocd;
    transition: all 0.5s ease-in;
}
&:hover .sp3::before{
    border: 1px solid $ocd;
    transition: all 0.5s ease-in;
}
&_sp{
    width: 6rem;
    height: 6rem;
    font-weight: 600;
    font-size: $span;
    line-height: 1.8;
    color: $bc;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sp1{
    background-color: #00ffff;
    transition: all 0.5s ease-in-out;
&::before{
    content: "";
    position: absolute;
    width: 8rem;
    height: 8rem;
    line-height: 4.375rem;
    border: 2px solid #00ffff;
    border-radius: 50%;
    left: -0.9rem;
    top: -1rem;
}
}
.sp2{
    background-color: #fce0ad;
    transition: all 0.5s ease-in-out;
&::before{
    content: "";
    position: absolute;
    width: 8rem;
    height: 8rem;
    line-height: 4.375rem;
    border: 2px solid #fce0ad;
    border-radius: 50%;
    left: -0.9rem;
    top: -1rem;
}
}
.sp3{
    background-color: #fbc9d5;
    transition: all 0.5s ease-in-out;
&::before{
    content: "";
    position: absolute;
    width: 8rem;
    height: 8rem;
    line-height: 4.375rem;
    border: 2px solid #fbc9d5;
    border-radius: 50%;
    left: -0.9rem;
    top: -1rem;
}
}
&_h4{
    font-weight: 700;
    font-size: $h2;
    margin-bottom: 1rem;
    position: absolute;
    top: -1rem;
    left: 8rem;
}
&_p{
    font-size: $p;
    color:#6e6e6e;
    position: absolute;
    top: 4rem;
    left: 8rem;
}
}
}
}