@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

$pfont:"Roboto", sans-serif;
$hfont:"Catamaran", sans-serif;
$tfont:"Sacramento", cursive;

$p:2rem;
$span:4rem;
$li:1.875rem;
$h1:6rem;
$h2:3.125rem;
$h3:5.625rem;
$h4:10rem;
$heading:2.5rem;